body {
	padding: 100px;
	color: #2F2F5D;
	background-color: #EBE8DD;
	font-family: Verdana, Geneva, sans-serif;
	text-align: center;
	background-image: url(tumblr_nk1i2e13BX1u7591ko10_r1_500.jpg);
}

h2 {
	text-transform: uppercase;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: #55ADFF;
}

h1 {
	font-family: Buttermilk, fantasy;
	text-align: center;
}


}

body {
	font-size:17px;
	line-height:27px;
	width:700px;
	margin:0px auto;
}

ul.one {
	float: left;
	background: blue;
	width: 33%;
	height: 33%;
	text-decoration: none;
}

ul.three {
	float: right;
	background: red;
	width: 33%;
	height: 33%;
	text-decoration;
}

li {
	list-style-type: none;
	color: #55ADFF;
}

ul {
	padding: 0px;
}

h3 {
	color: #55ADFF;
}

tracked-caps {
	letter-spacing: 8px;
}
body.two {
	padding: 100px;
 	color: #2F2F5D;
 	background-color: #EBE8DD;
 	font-family: Verdana, Geneva, sans-serif;
 	text-align: center;
 }
	
